@page
@model BookSwap.Pages.Admin.Education.EducationModel
@{
    Layout = "_Admin";
}
<div class="container-fluid pt-4 px-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw- bold">Education List</h4>
        <a href="/Admin/Education/AddEducation" class="btn btn-primary">Add New</a>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>Education List</h4>
        </div>

        <div class="card-body">
            <table class="table table-hover table-bordered text-center">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Education</th>
                        <th>Status</th>
                        <th>Entry Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.EducationList != null)
                    {
                        @foreach (System.Data.DataRow row in Model.EducationList.Rows)
                        {
                            <tr>
                                <td>@row["EducationId"]</td>
                                <td>@row["EducationName"]</td>
                                <td>@row["Status"]</td>
                                <td>@row["EntryDate"]</td>
                                <td><a asp-page="/Admin/Education/AddEducation" asp-route-EditId="@row["EducationId"]" class="btn btn-info">Edit</a></td>
                                <td><input onclick="return confirm('Are You Sure Want to delete a data')" type="submit" asp-page-handler="Delete" asp-route-DeleteId="@row["EducationId"]" value="Delete" /></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
